[[ if eq .QueryKind "path-problem" -]]
edges
nodes
subpaths
#select
[[- else -]]
| [[ .TestFilePrefix ]].cpp:0:0:0:0 | [[ .TestFilePrefix ]].cpp | Replace this with your query. |
| file://:0:0:0:0 |  | Replace this with your query. |
[[- end -]]