[[ if eq .QueryKind "path-problem" -]]
WARNING: module 'PathGraph' has been deprecated and may be removed in future (TestQueryKindPathProblem.ql:12,8-27)
nodes
edges
#select
[[- else -]]
| [[ .TestFilePrefix ]].js:0:0:0:0 | [[ .TestFilePrefix ]].js | Replace this with your query. |
[[- end -]]