/**
 * @id [[ .Language ]]/[[ .QueryPackName ]]/[[ toLower .QueryName ]]
 * @name [[ .QueryName ]]
 * @description [[ .Description ]]
 * @kind problem
 * @precision medium
 * @problem.severity error
 * @tags [[ .QueryPackName ]]
 */

import [[ .QlLanguageImport ]]

from Expr e
select e, "Replace this with your query."
